@model Book
@{
    Layout ="_Layout";
}
@if (ViewBag.saved !=null)
{
    <div class="alert alert-danger text-secondary">@ViewBag.saved</div>
}


<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img src="@Model.CoverImg" class="img-fluid"  />
        </div>
        <div class="col-lg-8">
         <div class="container">
   <table class="table table-stripped">
                    <tbody>
                        <tr>
                            <td>Title</td>
                            <td>@Model.Title</td>
                        </tr>
                        <tr>
                            <td>Published</td>
                            <td>@Model.PublishedAt</td>
                        </tr>
                        <tr>
                            <td>Avialable</td>
                            <td>@Model.Avaialbe</td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>@Model.Price</td>
                        </tr>
                    </tbody>
            </table>
         </div>
        </div>
    </div>
</div>

<div class="container">
     <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Edit
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          @using (Html.BeginForm(FormMethod.Post,new {enctype="multipart/form-data"})){
      <div class="modal-body">
              <input type="hidden" name="id" value="@Model.BookId" />
              <input type="file" name="img" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
          }
    </div>
  </div>
</div>
</div>