﻿@model List<Book>
@{
    ViewData["Title"] = "Home Page";
}
<div class="card-columns">
    @foreach (var book in Model)
    {
        <a class="text-link" href="/home/details?id=@book.BookId">
    <div class="card mx-2">
            <img class="card-img-top" src="@book.CoverImg" style="height: 15rem;" />
            <div class="card-body">
                <h4 class="card-title">@book.Title</h4>
                <p class="card-text">
                        lorem lorem lorem lorem lorem 
                </p>
            </div>
        </div>
        </a>
    }
</div>