@model Book
@{
    Layout ="_Layout";
}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
<div class="container">
<img src="@Model.CoverImg" />
</div>
        </div>
        <div class="col-lg-5">
<p>@Model.Title</p>
        </div>
    </div>
</div>

<div class="container">
    @using (Html.BeginForm(FormMethod.Post,new {enctype="multipart/form-data"}))
    {
        <input type="hidden" value="@Model.BookId"  name="id"/>
        <input type="file" name="img" />
        <input type="submit" value="update"/>
    }
</div>